<header class="header">
	<div class="container">
		<a href="#" class="header-logo">
			<picture>
				<source srcset="./img/logo_mobile.png" media="(max-width: 1200px)" />
				<source srcset="./img/logo.png" />
				<img srcset="./img/logo.png" alt="img" />
			</picture>
		</a>
		<div class="header-actions">
			<div class="header-search">
				<div class="header-search__icon">
					<svg><use href="./img/sprite.svg#search"></use></svg>
				</div>
				<form method="GET" class="header-search-form">
					<div class="header-search-form__input">
						<input type="text" />
					</div>
					<button type="submit" class="header-search-form__btn">
						<svg><use href="./img/sprite.svg#search"></use></svg>
					</button>
				</form>
			</div>
			<div class="header-menu">
				<div class="header-menu__btn">
					<span></span>
					<span></span>
				</div>
				<ul class="header-menu__list">
					<li><a href="#">home</a></li>
					<li><a href="#">about</a></li>
					<li><a href="#">catalog</a></li>
					<li><a href="#">contacts</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="header-backdrop"></div>
</header>
